.top-menu2 {
    justify-content: center;    
    text-align: center;
margin-top: 0;
margin-bottom: 0;
    display: flex;
}
.top-menu2 .menu{
    transition: 250ms;
}
.top-menu2 .menu2{
    transition: 250ms;
}
.menu {
    @include font(500, 16px);

    background-color: #F5F4FA;
    border-radius: 4px;
line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    cursor: pointer;
    padding: 6px 22px;
}
.menu2 {
    background-color: #F5F4FA;

    @include font(500, 16px);
    border-radius: 4px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    cursor: pointer;
    padding: 6px 22px;
}